@import "tailwindcss";

:root {
  --background: #000000;
  --primaryText: #ffffff;
  --secondaryText: #000000;
  --accent: #4e93d0;
  --success: #45ab98;
  --error: #bb5651;
}

@theme inline {
  --color-background: var(--background);
  --color-primaryText: var(--primaryText);
  --color-secondaryText: var(--secondaryText);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-error: var(--error);
}

body {
  background: var(--background);
  color: var(--primaryText);
  font-family: var(--font-instrument_serif);
}

h1 {
  font-family: var(--font-instrument_serif);
}

h2 {
  font-family: var(--font-instrument_serif);
}

p {
  font-family: var(--font-instrument_serif);
}

a {
  font-family: var(--font-instrument_serif);
}

a:hover {
  text-decoration: underline;
}
